/* This file contains the CSS code corresponding to the header and the drawer (including the menu) of the mobile version */

@import 'variables';

header {
  position: fixed;
  height: $topbar_height;
  top: 0px;
  background: image-url('header-bg-long.jpg') rgb(40,35,35);
  box-shadow: 0 1px 2px #333;
  border-bottom: 1px solid #222;
}

#main_nav {
  width: 100%;

  #header_title {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 7px;
  }

  #nav_badges {
    float: right;
    margin: 7px 0px;
    display: inline-block;

    .badge {
      display: inline;
      margin: 0px 4px;
      padding: 10px 6px;
      font-weight: bold;
      font-size: smaller;
      background-color: transparent;

      img {
        height: 30px;
        width: 30px;
      }
    }

    .badge_count {
      border-radius: 2px;
      z-index: 3;
      position: absolute;
      top: 3px;
      padding: 1px 3px;
      background-color: $red;
      margin-left: -8px;
    }

    #conversation_icon {
      height: 18px;
    }
  }
}

#drawer {
  position: fixed;
  top: 0;
  height: 100%;
  width: $drawer_width;
  left: 100%;
  background-color: #444;
  box-shadow: -2px 0px 2px 1px #333;

  header {
    position: static;
    left: 100%;
    right: -80%;

    #global_search {
      position: relative;

      form {
        position: absolute;
        left: 5px;
        right: 22%;

        input {
          box-shadow: 0 1px 1px #444;
          border-radius: 15px;
          width: 100%;
          margin-top: 7px;
          background-color: #444;
          border: 1px solid #222;
          font-size: 13px;
          padding: 4px;
          color: black;

          &.active {
            background-color: $highlight-white;
            background-color: rgba(160,160,160,0.6);
          }

          &:focus {
            outline: none;
            background-color: white;
          }

          &:placeholder { text-shadow: none; }
        }
      }
    }
  }

  nav {
    position: absolute;
    top: 45px;
    bottom: 0px;
    overflow: auto;
    width: 100%;

    li {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: bold;
      color: $light-grey;
      border-bottom: solid rgb(53, 53, 53) 2px;
    }

    li:hover {
      background-color: $link-grey;
    }

    .no_border {
      padding: 0px;
      border-bottom: 0px;

      &:hover {
        background-color: transparent;
      }

      > ul > li > a {
        font-size: 0.8rem;
        padding: 8px 42px;
      }
    }

    .hide {
      display: none;
    }

    .avatar {
      height: 2rem;
      width: 2rem;
      margin: -0.5em 0.2rem;
      float: right;
    }
  }

  a {
    display: block;
    color: $light-grey;
    text-decoration: none;
    padding: 12px 25px;
  }

  ul {
    list-style: none;
    margin: 0px;
  }
}

@media (max-width: $tablet) {
    /* This class is added when the user open the drawer */
    .draw {
        #drawer, #main_nav {
            transform: translateX(-$drawer_width);
        }
    }

    #drawer, #main_nav {
        z-index: 10;
        transition: transform 0.3s ease;
        transform: translateX(0);
    }
}

// view on a large screen device
@media (min-width: $tablet) {
    #menu_badge {
        display: none !important;
    }

    #drawer {
        left: 0px;
        top: $topbar_height;
    }

    #main_nav {
        z-index: 10;
    }

    #main {
        padding-left: $drawer_width + $gutter !important;
    }
}
