#invitationsModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "invitationsModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          %i.fa.fa-times
        %h4.modal-title
          = title
      .modal-body
        %a{ href: path } Click here to invite some friends!
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

