-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.row
  .col-md-12
    = t('aspects.seed.friends')
    %hr{style: "margin-top: 3px; margin-bottom: 3px;"}
.row
  .col-md-12
    %form.form-inline
      .form-group
        .input-group
          %input.form-control{:placeholder => "Enter email", :type => "email"}/
          %button.btn.btn-cmp{:type => "submit"}
            %i.fa.fa-search
.row
  .col-md-12
    #selected_aspect_contacts.section
      .content


