#front-page
  .container
    .row
      .col-md-2
        = image_tag 'branding/logo.png'
      .col-md-6.col-md-push-4
        = svg_tag 'flower.svg'
    #steps.row
      .col-md-3
        .box
          %p
            Ti-e teama de repercusiuni? Nu poti invita direct o colega la cafea?
            Nu il poti suna direct? Aici va puteti intalni, discuta si dezbraca...
            de inhibitii.
          %h3
            Dilema colegiala
      .col-md-3
        .box
          %p
            Adio... dar pe curand!
            %br
            Relatia voastra s-a terminat oficial, dar poate mai suspinati unul
            dupa celalat.
          %h3
            Mi-e dor de tine!
      .col-md-3
        .box
          %p
            Te atrag persoanele de acelasi sex? Ai ajuns unde trebuie. Aici sexul
            conteaza doar in masura in care se intampla intre doua persoane.
          %h3
            Iubesc curcubeul
      .col-md-3
        .box
          %p
            Esti intr-o relatie si cauti altceva? Aici poti testa piata cu riscuri
            minime.
          %h3
            Caut altceva...
    .row
      .col-md-4
        %h4 Afla daca pe cine admiri are cont pe CineMaPlace
        The story begins with a traveling salesman, Gregor Samsa, waking to find
        himself transformed (metamorphosed) into a large, monstrous insect-like
        creature. The cause of Samsa's transformation is never revealed, and
        Kafka himself never gave an explanation. The rest of Kafka's novella
        deals with Gregor's attempts to adjust to his new condition as he deals
        with being burdensome to his parents and sister, who are repulsed by the
        horrible, verminous creature Gregor has become.
      .col-md-4
        %h4 Cucereste fara riscuri si afla daca va potriviti
        The story begins with a traveling salesman, Gregor Samsa, waking to find
        himself transformed (metamorphosed) into a large, monstrous insect-like
        creature. The cause of Samsa's transformation is never revealed, and
        Kafka himself never gave an explanation. The rest of Kafka's novella
        deals with Gregor's attempts to adjust to his new condition as he deals
        with being burdensome to his parents and sister, who are repulsed by the
        horrible, verminous creature Gregor has become.
      .col-md-4
        %h4 Nu rata sansa sa afli daca sunteti compatibili online si apoi... in viata reala!
        The cause of Samsa's transformation is never revealed, and
        Kafka himself never gave an explanation. The rest of Kafka's novella
        deals with Gregor's attempts to adjust to his new condition as he deals
        %br
        %h4 Flirteaza smart
        The story begins with a traveling salesman, Gregor Samsa, waking to find
        himself transformed (metamorphosed) into a large, monstrous insect-like
        creature.

    .row.intilniri
      %h2.center
        Pana la lansarea site-ului de dating, te invitam la evenimentele Cine Ma Place!
      %h3.center
        Vino la intalniri, sa ne cunoastem, la ateliere, sa descifram misterele
        relatiilor, si la petreceri, sa ne distram!
    .row
      %h2.center Detalii pe evenimente.cinemaplace.ro
      %h2.center sau la
      %h1.center.phone 0742 23 6373 (0742CeMePe)

    %footer
      .row.first-line
        %ul
          %li Tips &amp Tricks
          %li Despre CineMaPlace
          %li FAQ
          %li Contact
          %li.facebook.pull-right
            %span.fa-stack.fa-lg
              %i.fa.fa-circle-thin.fa-stack-2x
              %i.fa.fa-facebook.fa-stack-1x
            Urmareste-ne pe facebook
        .separator
      .row
        %ul
          %li Termeni legali
          %li Confidentialitate date
          %li Facut in Romania
          %li &copy 2014 cinemaplace.ro
      .row
        %ul
          %li Sitemap
          %li web design GreeAd.ro
          %li dimaursu.net
