.sessions footer {
    margin-top: 200px;
}

footer {
    color: $text-grey;

    .first-line {
        color: #444;
    }
    li + li::before {
        content: " | ";
    }
    li {
        display: inline;
    }

    li.facebook::before {
        content: none;
    }

    .separator {
        margin-top: -8px;
        border-top: 2px solid #444;
    }

  ul#footer_nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;

    > li {
      display: inline;
      margin-right: 1em;

      &.separator {
        margin-left: -.35em;
        margin-right: .65em;
        @include opacity(.6);
      }

      &:last-child {
        margin: 0;
      }
    }

    a {
      color: $link-grey;
    }
  }
}
